.color1 { color: #545454 };
.color2 { color: #7b8a84 };
.color3 { color: #8cbfaf };
.color4 { color: #ede7d5 };
.color5 { color: #b7cc18 };


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}